{% extends "base.html" %}

{% block title %}Categories - ShareSphere{% endblock %}

{% block content %}
<section class="categories-section">
    <h1>Explore Categories</h1>
    <p>Browse through various topics and dive into content shared by the community.</p>
    
    <div class="category-grid">
        <div class="category-card">
            <img src="https://img.taste.com.au/kdMbjArS/taste/2010/01/chocolate-brownies-118925-2.jpg" alt="Recipes" style="width: 290px; height:auto">
            <h3>Recipes</h3>
            <p>Discover and share delicious recipes, cooking tips, and restaurant reviews.</p>
        </div>
        <div class="category-card">
            <img src="https://www.windsorstore.com/cdn/shop/articles/a6f8c0f1-summer-outfit-ideas-2024-feature_116997d7-329f-46f0-87e3-e482ac2911aa_480x_crop_top.jpg?v=1716405018" alt="Fashion" style="width: 290px; height:auto">
            <h3>Fashion</h3>
            <p>Stay updated with the latest trends, fashion hacks, and style inspiration.</p>
        </div>
        <div class="category-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuDqWuE28kKxOMtZfW1xa6isUnvIaBH29iAg&s" alt="Product Reviews" style="width: 290px; height:auto">
            <h3>Product Reviews</h3>
            <p>Honest reviews on products, gadgets, and must-have essentials.</p>
        </div>
        <div class="category-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr4LqvIZPFrs8EIup4CTqn1gdmQ98-_bJu9w&s" alt="Travel" style="width: 290px; height:auto">
            <h3>Travel</h3>
            <p>Explore travel destinations, hidden gems, and budget-friendly travel tips.</p>
        </div>
        <div class="category-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXvjmOx6yDRYS4sUVIX9NswdPJglMqX8IR0g&s" alt="DIY" style="width: 290px; height:auto">
            <h3>DIY</h3>
            <p>Step-by-step guides for creative and practical do-it-yourself projects.</p>
        </div>
        <div class="category-card">
            <img src="https://static.wixstatic.com/media/11062b_94fcf9519de448c78c939317dc945269~mv2.jpg/v1/fill/w_568,h_378,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/11062b_94fcf9519de448c78c939317dc945269~mv2.jpg" alt="Wellness" style="width: 290px; height:auto">
            <h3>Wellness</h3>
            <p>Self-care tips, mental health resources, and healthy living strategies.</p>
        </div>
    </div>
</section>
{% endblock %}
